@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;1,400;1,700&display=swap");
:root {
    --primary-color: #00A2E8;
    --secondary-color: aquamarine;
    /* --primary-color: #006c9b;
    --secondary-color: rgb(7, 206, 139); */
    --background-color: #f4f4f4;
}